h1{
  color:green;
  line-height: 30px;
  font-size: 50px;
}

h2{
  color: grey;
  font-style: oblique;
}

p{
  font-style: italic;
  font-weight: lighter;
}
img {
  opacity: 0.8;

}
.class1{float: right}

body {
  background: linear-gradient(
      to bottom,
      rgba(0,0,0,50),
      rgba(255,255,255,50)
    ),url("../img/photo2.jpg");

}
.my-class {
  margin: 12px;
  border: 2px solid blue;
  padding: 25px;
}
img{
  float:center;
}
